<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435028589225-ccb1dopglsr5tm6h184sfk1kk2e3956a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435028589225-ccb1dopglsr5tm6h184sfk1kk2e3956a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435028589225-smlfrnav6hrnt307jouv2rke0kc2idb3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOA93724iGko3yn-OVgr8VgfilItAhAQs</string>
	<key>GCM_SENDER_ID</key>
	<string>435028589225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFastlane</string>
	<key>PROJECT_ID</key>
	<string>flutter-895df</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-895df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435028589225:ios:f25ee85f52dacce77387b8</string>
</dict>
</plist>